<?xml version="1.0" encoding="UTF-8"?>
<!-- Root Web.Config for Azure App Service to redirect to public folder -->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect All To Public" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="public/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
